@import "vars"
footer
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  background-color: #EEE
  border-top: 1px solid black

  .wrap
    margin: 10px

  ul
    list-style-type: none

  #comments_full
    height: $footer_height
    overflow-y: scroll

  input.ng-invalid.ng-dirty
    background-color: red
