#slides {
  .slide-body {
    pre code {
      font-size: 18px;
    }

    img.fullscreen {
      height:590px;
      width:1024px;
      max-width:1024px !important;
      margin: -20px;
    }

  }
}
