body.slides {
  background-color: #333;
}

#slides {
  width: 1024px;
  height: 768px;
  margin: auto;
  position: relative;
  background-color:white;
  font-size:24px;
  @include border-bottom-radius( 10px );

  iframe {
    border:none;
  }

  h1 {
    padding-top:100px;
    line-height: 100px;
    text-align: center;
    font-size: 80px;
  }

  h1 + p {
    text-align: center;
  }

  h2 {
    font-size: 60px;
    line-height: 80px;
  }

  .slide-body {
    padding:20px;
    height:550px;
  }

  .slide-nav {
    position: absolute;
    bottom:180px;
    right:3px;
    font-size: 10.5px;

    .btn-group {
      padding: 0 5px;
    }

    .slide-info{
      padding: 0 5px;
    }
  }
  .slide-comments {
    overflow: scroll;
    border-top: thin solid #eee;
    background-color:#eee;
    @include border-bottom-radius( 10px );
    font-size:23px;
    height: 176px;

    ul {
      li {
        padding:5px;
      }
      strong {
        padding-right:3px;
        }
      list-style-type: none;
    }
  }
}
