#slides {
  .slide-body {
    font-size: 36px;
    line-height: 40px;
    ol, ul {
      padding-left: 45px;
    }
    li {
      line-height: 43px;
    }

    pre code {
      font-size: 18px;
      background: transparent;
    }

    img.fullscreen {
      height:590px;
      width:1024px;
      max-width:1024px !important;
      margin: -20px;
    }

    code {
      font-size: 23px;
    }

    pre.filename {
      color: black;
      font-size: 20px;
      border: 0;
      background-color: #FFFFFF;
    }

    pre.karmaoutput {

      font-size: 20px;
      span.green {
        color: green;
      }
    }

    #elight {
      position: absolute;
      top: 230px;
      left: 520px;

      #interrobang {
        position: relative;
        top: -321px;
        left: 191px;
        font-size: 160px;
        color: blue;
      }
    }

    table.omg {
      width: 100%;
      margin-top: 70px;

      td {
        text-align: center;
      }

      .red h2 {
        color: red;
      }
      .blue h2 {
        color: blue;
      }

    }

    #dealwithit {
      position: absolute;
      top: 266px;
      left: 520px;
    }

    #shmaida {
      position: absolute;
      top: 512px;
      left: 830px;
      color: #DDD;
    }

  }

  h1 + h1 {
    padding-top: 10px;
    color: blue;
    background-color: #2FA;
  }
}
